$default-font: "OpenSansRegular", sans-serif
$Exo2Bold: "Exo2Bold", sans-serif
$OpenSansBold: "OpenSansBold", sans-serif
$OpenSansLight: "OpenSansLight", sans-serif
$OpenSansSemiBold: "OpenSansSemiBold", sans-serif
$accent: orange
